@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat&family=Oswald:wght@700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  margin: 0 0 1.5rem 0;
}

h1::first-letter,
h2::first-letter,
h3::first-letter {
  text-transform: uppercase;
}

h2:not(.point__title),
h3 {
  color: #a59678;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.3125rem;
}

a {
  text-decoration: none;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
}

a:hover,
a:focus {
  opacity: 0.65;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 0;
}

nav {
  background-color: #2e323f;
}

nav .container {
  padding: 0.2rem 0;
  margin: 0 auto;
}

nav .nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #a59678;
  color: white;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

nav .nav-toggle:focus,
nav .nav-toggle:hover {
  opacity: 0.75;
}

nav .hamburger {
  width: 50%;
  position: relative;
}

nav .hamburger,
nav .hamburger::before,
nav .hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
  border-radius: 0.2em;
}

nav .hamburger::before,
nav .hamburger::after {
  content: '';
  width: 100%;
}

nav .hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

nav .hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

nav .nav__title {
  display: inline-block;
  font-size: 4rem;
  font-family: 'Gochi Hand', cursive;
  color: whitesmoke;
  text-transform: uppercase;
  margin: 0;
}

nav .nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

nav .nav__list {
  text-align: center;
  padding: 0;
}

nav .nav .list__link {
  font-size: 1.125rem;
  color: whitesmoke;
  text-transform: uppercase;
}

nav .nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

nav .list__link--button {
  padding: 0.3rem 1rem;
  background-color: #a59678;
  border-radius: 100rem;
}

header {
  background-color: #3b4050;
  color: white;
}

header .intro__title--accent {
  color: #a59678;
}

header .intro__sub-title {
  font-size: 1.5rem;
}

header .intro__button {
  padding: 0.5em 2em;
  background-color: #a59678;
  border-radius: 100em;
  color: white;
  text-transform: uppercase;
}

section p:not(.point__text) {
  color: #3b4050;
}

section img {
  width: 100%;
}

.section-one {
  background-color: whitesmoke;
  text-align: center;
}

aside {
  text-align: center;
}

aside .point {
  padding: 1rem;
  background-color: #3b4050;
  color: white;
  border-radius: 0.7em;
}

aside .point + .point {
  margin-top: 1rem;
}

footer {
  background-color: #3b4050;
}

footer .footer__title {
  color: white;
  text-align: center;
}

footer .footer__list {
  padding: 0;
}

footer p,
footer a {
  color: #6f737f;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

@media (min-width: 700px) {
  nav .nav__title {
    margin: 0;
  }
  nav .nav {
    visibility: visible;
    height: auto;
    position: relative;
    width: 100%;
  }
  nav .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav-toggle {
    display: none;
  }
  nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav__list--primary {
    margin: 0 auto;
  }
  nav .list__item + .list__item {
    margin-left: 1rem;
  }
  header .intro__title {
    width: 30%;
  }
  header .intro__text {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 60%;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-two .row {
    display: block;
  }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  aside .point + .point {
    margin: 0;
  }
  main .col + .col,
  footer .col + .col {
    margin-left: 2rem;
  }
  main .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
  section img {
    height: 300px;
  }
}

@media (min-width: 1000px) {
  .section-two .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  aside {
    display: block;
    margin-left: 3rem;
  }
  aside .col + .col {
    margin: 0;
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */